@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body{
    text-align: center;
    color: brown;
    background-color:powderblue; 
}
.fix{
    text-align: center;
    font-family: 'Segoe UI';
    border: 20px black;
}
/* navbar */

.navbar {
    left: 0;
    top: 0;
    right:0;

}

.navbar-container{
    background: rgb(192, 182, 182);
    height: 80px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
    height: 100%;
    align-items: center;
}

.logo img{
    height: 100%;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin-left:10px;
    margin-right: 10px;
}
.menu li a{
    text-decoration: none;
    font-size:20px;
    color: rgb(44, 29, 29);
    transition: 0.5s;
}

.menu li a:hover{
    color: aqua;
}